/* font-family: 'Nunito', ;
font-family: 'Montserrat', ; */

body {
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);    /* Got this from https://css3gen.com/text-shadow/*/

}

h1, h2, h3, h4, h5, h6, navbar-brand {
  font-family: 'Nunito', sans-serif;
}

/* Used code from https://www.youtube.com/watch?v=9Yg3PWTgso4   */
.hero {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url(../images/dentist-picture.jpg);
  height: 80vh;
  background-size: cover;
}

.main-header {
  font-size: 4rem;
  color: white;
}

/* SERVICES SECTION */
.services-header {
  text-align: center;
  padding: 5em;
}
.services-cards {
  padding-bottom: 3em;
}

.hero-content {
  text-align: center;
  padding-top: 12em;
}

  /* TESTIMONIALS HEADER */
.testimonials {
  background-color: #EFEFEF;
  padding-bottom: 3em;
}

.testimonials-header {
  text-align: center;
  padding: 5em;
}

.testimonial-text {
  margin: 0 30%;
  font-size: 1.15em;
}

.testimonial-name {
  text-align: right;
}
